.blog-lite{
	background: $lite-gray;
}
.blog{
	clear:both;
	overflow: hidden;
	margin-top:40px;
	padding:40px 0px;
	.blog-wrap{
		width:$wrapper;
		margin:0 auto;
		.blog-list{
			margin-top:30px;
			.heading{
				font-size: $title;
				margin-bottom: 8px;
				color:$gray-two;
				span{
					font-weight: 300;
					font-size: 10px;
					margin-left:6px;
				}
				a{
					font-size: $title;
					color:$gray;
					text-decoration: none;
					font-weight: 400;
				}
				a:hover{
					text-decoration: underline;
				}
			}
			.text{
				font-size: $reguler;
				font-size: $lite;
				color:$gray-two;
			}
			ul{
				li{
					margin-bottom:30px;
				}
			}
		}
		.image{
			clear:both;
			overflow: hidden;
			text-align: center;
			display: block;
			margin:60px auto 8px auto;
		}
		.right{
			text-align: center;
			font-size: $lite;
			color:$gray-two;
		}
	}
}