.book{
	width: 800px;
    margin: 0 auto;
}
.book-list{
	background: $white;
}
.book-list-wrapper{

	ul{
		display: flex;
  		flex-direction: row;
		flex-wrap: wrap;
		margin: 0 auto;
    	width: 631px;
  		li{
			a{
				text-decoration:none;
				color:$gray;
				display:block;
				width:100%;
			}
			width:300px;
			margin-right:1.8%;
			display:grid;
			grid-auto-flow: column;
			border: 2px solid $gray;
    		border-radius: 5px;
			background: $white;
			margin-bottom:1.8%;
			img{
				padding:5px;
				border-radius:10px;
                width:80px;
				height:auto;
				float:left;
				margin-right:10px;
			}
			.book-list-item{
				padding:10px;
				.heading{
					line-height: 1em;
					text-align: left;
					border-bottom:1px solid $lite-gray;
					padding-bottom:10px;
					margin-bottom:3px;
					font-size: $title;
					margin-top:10px;
					span{
						background:$lite-gray;
						padding:3px;
						border-radius:3px;
					}
				}
				
				.text{
					font-size: $lite;
				}
			}
			.author{
				font-size: $lite;
			}
		}
		li:last-child{
			margin-right:0%;
		}
	}
}