.career{
	clear:both;
	overflow:hidden;
	width:$wrapper;
	margin:0 auto;
	margin-top:100px;	
	.job{
		margin-top:60px;
		.job-list{
			margin-bottom: 30px;
			.job-title{
				font-size: $title;
				font-family: $font-roboto;
				color:$bold;
				font-weight: bold;
				span{
					font-size: 12px;
					color:$bold;
					font-weight: 300;
					margin-left:10px;
				}
			}
			.job-desk{
				font-weight: 300;
				font-size: $lite;
				color:$gray-two;
				line-height: 2.3em;
			}
			.text{
				font-size: $reguler;
			}
		}
	}
}