.jumbo{
	clear:both;
	overflow: hidden;
	width:$wrapper;
	margin:0 auto;
	margin-top:80px;
	.image{
		display: block;
		margin:0 auto;
	}
	.headline{
		text-align: center;
		font-family: $font-roboto;
		font-size: $heading;
		color:$bold;
		font-weight:300;
		width:85%;
		margin:40px auto 20px auto;
		display: block;
		padding:0;
		line-height: 1.3em;
	}
	.social-media{
		text-align: center;
		li{
			display: inline-block;
			margin:0px 8px;
			a{
				color:$bold;
			}
		}
	}
	.hide{
		display: none;
	}	

}