.nav{
	width:$wrapper;
	margin:0 auto;
	clear:both;
	overflow: hidden;
	ul{
		float:right;
		height:45px;
		margin:0;
		padding:0;
		li{
			display: inline-block;
			margin-left:20px;
			.link{
				color:$yellow;
				text-decoration: none;
				text-transform: uppercase;
				font-family: $font-lato;
				padding-bottom: 6px;
				margin-bottom: 6px;
      }
      button{
        background:none;
        font-size:10px;
        border-radius:20px;
        outline:none;
        padding:0px 5px;
      }
      .lightMode{
        color:$yellow;
        border:2px solid $yellow;
        background:$white;
      }
      .darkMode{
        color:$white;
        background:$bold;
        border:2px solid $yellow;
      }
			&:hover,.active{
				border-bottom:3px solid $bold;
				padding-bottom:6px;
				margin-bottom: 6px;
			}
    }
    li:nth-child(4){
      &:hover{
				border:none;
			}
    }
	}
}
