.workout{
    background:$white !important;
    h3{
        color:$black;
        font-weight:400;
        font-size:18px;
        line-height:1.5em;
        border-left:4px solid $yellow;
        padding-left:8px;
    }
    &-list{
        &-elem{
            display:flex;
            justify-content: space-between;
            margin-bottom:80px;
            .workout-item{
                p{
                    display:block;
                    font-size:80px;
                    color:$black;
                    padding:0;
                    margin:0;
                    text-align:center;
                    position:relative;
                    span{
                        font-size:20px;
                        color:$black;
                        display:inline-block;
                        position:relative;
                    }
                }
                span{
                    color:$yellow;
                    font-size:14px;
                    text-align:center;
                    display:block;
                    font-weight:400;
                }
            }
        }
    }
}