.detail{
	margin:0 auto;
	clear:both;
	overflow: hidden;
	width:800px;
	margin-top:100px;
	margin-bottom: 100px;
	.date{
		font-size: $lite;
		color:$gray-two;
		font-weight: 300;
		font-family: $font-roboto;
		margin-bottom: 8px;
	}
	.detail-link{
		text-align: center;
		font-size: $posting;
		color:$bold;
		font-weight: 300;
		text-decoration: underline;
		display: block;
		margin:0 auto;
		margin-top:40px;
	}
	.detail-title{
		font-size: $heading;
		color:$bold;

	}
	.detail-content{

		p{
			font-family: $font-roboto;
			font-size: $posting;
			line-height: 1.5em;
			color:$bold;
			padding:8px 0px;
			font-weight: 400;
			-webkit-text-stroke-width: .05px;
			-webkit-text-stroke-color: white;
      -webkit-font-smoothing: antialiased;
      a{
        font-size:$posting;
      }
		}
		a{
			font-size: $reguler;
			color:$yellow;
		}
		blockquote{
			border-left: 3px solid $bold;
			padding-left:20px;
			margin:20px 0px;
			p{
				text-decoration: italic;
				color:$gray-two;
			}
		}
		h1,h2,h3,h4,strong,b{
			font-family: $font-roboto;
			font-size: $posting_heading;
			color:$bold;
			display: block;
			padding:8px 0px;
		}
		ol{
			margin:0;
      padding:0;
      margin:0px 0px 0px 0px;
      padding:0px 0px 0px 30px;
			li{
				font-family: $font-roboto;
				font-size: $posting;
				color:$bold;
        padding:10px 0px;
        line-height: 1.5em;
        color:$bold;
        -webkit-text-stroke-width: .05px;
        -webkit-text-stroke-color: white;
        -webkit-font-smoothing: antialiased;
        list-style-position: outside;
        list-style-type:decimal;
			}
    }
    ul{
      margin:0px 0px 0px 0px;
      padding:0px 0px 0px 30px;
      li{
        font-family: $font-roboto;
				font-size: $posting;
				color:$bold;
        padding:10px 0px;
        line-height: 1.5em;
        color:$bold;
        -webkit-text-stroke-width: .05px;
        -webkit-text-stroke-color: white;
        -webkit-font-smoothing: antialiased;
        list-style-position: outside;
        list-style-type:disc;
      }
    }
	}
}
.detail-medium{
	figure{
    margin:0;
		img{
			width:100%;
		}
	}
	figcaption{
		text-align: center;
	}
	p strong{
		display: inline-block !important;
	}
	.detail-medium-original-source{
		display: block;
		text-align: left;
		a{
			text-align: center;
			color:$gray;
			font-size: 10px;
			text-decoration:underline;
			&:hover{
				//text-decoration: underline;
			}
		}

	}
}
