@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Roboto:wght@100;400;500;700&display=swap');

// Font Variables
$roboto: 'Roboto', serif;
$lato: 'Lato', serif;

// Font size
$body: 24px;
$heading-1: 20px;
$heading-2: 18px;
$heading-3: 16px;
$content-1:14px;
$content-2:12px;
$content-3:10px;

// font weight
$bold: 700;
$normal:400;
$light:100;


