@media only screen 
  and (min-width: 320px) 
  and (max-width: 1024px)  {
  	.body-wrapper{
  		margin-top:20px !important;
  	}
	.nav,.jumbo,.career,.skill,.project-wrap,.blog-wrap,.detail{
		width:90% !important;
	}
	.jumbo{
		.image{
			width: 60%;
		}
	}
	.project-wrap{
		.image{
			width:40%;
		}
	}
	.skill{
		.skill-wrap{
			display: block;
			margin:40px auto 10px auto;
			.skill-card{
				width:80%;
				margin:0 auto;
				margin-bottom: 20px;
			}
		}
	}
	.work-list{
		ul{
			display: block;
			margin:40px auto 10px auto;
			.work-list-card{
				width:80%;
				margin:0 auto;
				margin-bottom:20px;
				display: block;
			}
			.work-list-card:last-child{
				margin-right:auto;
			}
		}
	}
	.book{
		width:80%;
	}
	.book-list{
		ul{
			display: block;
			width:100%;
			.book-list-card{
				width:100%;
				margin:0 auto;
				margin-bottom:20px;
				display: block;
			}
			.book-list-card:last-child{
				margin-right:auto;
			}
		}
	}
	.book-list-wrapper ul li img{
		width:22%;
	}
}
