@media only screen 
  and (min-width: 320px) 
  and (max-width: 1024px)  {
  	.body-wrapper{
  		margin-top:20px !important;
  	}
	.nav,.jumbo,.career,.skill,.project-wrap,.blog-wrap,.detail{
		width:90% !important;
	}
	.jumbo{
		.image{
			width: 60%;
		}
	}
	.project-wrap{
		.image{
			width:40%;
		}
	}
	.skill{
		.skill-wrap{
			display: block;
			margin:40px auto 10px auto;
			.skill-card{
				width:80%;
				margin:0 auto;
				margin-bottom: 20px;
			}
		}
	}
	.work-list{
		width:100%;
		ul{
			display: block;
			margin:40px auto 10px auto;
			.work-list-card{
				width:100%;
				margin:0 auto;
				margin-bottom:20px;
				display: block;
			}
			.work-list-card:last-child{
				margin-right:auto;
			}
		}
	}
	.book{
		width:80%;
	}
	.book-list{
		ul{
			display: block;
			width:100%;
			.book-list-card{
				width:100%;
				margin:0 auto;
				margin-bottom:20px;
				display: block;
			}
			.book-list-card:last-child{
				margin-right:auto;
			}
		}
	}
	.book-list-wrapper ul li img{
		width:18%;
	}
	.nav ul li{
		margin-left: 8px;
	}
	.nav ul li .link{
		font-size: 14px;
	}

	.workout{
		h3{
			margin-bottom:20px;
		}
		&-all-list{
			&-elem{
				.all{
					float:none;
					position:relative;
					padding-bottom:20px;
					p{
						font-size: 65px;
    					text-align: left;
					}
					span{
						font-size:18px;
						text-align:left;
					}
					&:before{
						content:'';
						display:none;
					}
				}
				.other{
					float:none;
					position:relative;
					top:0px;
					.workout-item{
						padding-bottom:20px;
						p{
							font-size:65px;
							text-align:left;
						}
						span{
							font-size:18px;
							text-align:left;
						}
					}
					.moving-time{
						position:relative;
						left:auto;
						top:auto;
					}
				}
			}
		}
		&-list{
			&-elem{
				display:block;
				margin-bottom:80px;
				.workout-item{
					padding-bottom:20px;
					p{
						display:block;
						font-size:65px;
						color:$black;
						padding:0;
						margin:0;
						text-align:left;
						position:relative;
						span{
							font-size:18px;
							color:$black;
							display:inline-block;
							position:relative;
						}
					}
					span{
						color:$yellow;
						font-size:18px;
						text-align:left;
						display:block;
						font-weight:400;
					}
				}
			}
		}
	}
}
