$font-lato: 'Lato', sans-serif;
$font-roboto:'Roboto', sans-serif;

/*color*/
$yellow:#F2C94C;
$bold:#4F4F4F;
$black:#333333;
$gray:#4F4F4F;
$gray-two:#828282;
$lite-gray:#F2F2F2;
/* font size */
$heading:24px;
$paragraph:16px;
$title:18px;
$reguler:14px;	
$lite:12px;
$tiny:10px;

/*width*/
$wrapper:800px;
