@import 'normalize';
@import 'var';
@import 'detail';
@import 'container/nav';
@import 'container/jumbo';
@import 'container/career';
@import 'container/skill';
@import 'container/project';
@import 'container/blog';
@import 'container/worklist';
@import 'container/booklist';

@import 'query';

/* reset */

.body-wrapper{
	margin-top:40px;	
}
.loading{
	position: absolute;
	top:0px;
	bottom: 0px;
	left:0px;
	right: 0px;
	background: $yellow;
	opacity:1;
	.loading-wrapper{
		position: fixed;
	   	top: 50%;
	   	left: 50%;
	   	transform: translate(-50%, -50%);
	}
	h1{
		font-weight: 400;
	   	color:$gray-two;
	   	text-align: center;
		font-size: $paragraph;
		display: block;
		padding:0;
		margin:0;
		font-weight: 400;
	}
	.plant-logo{
		background: url('../images/plant.png') no-repeat center center;
		background-size:cover; 
	    width: 96px;
	    height: 127px;
	    position:fixed;
    	top: -50%;
	   	left: 50%;
	   	transform: translate(-50%, -100%);
	   	z-index: -1;
	}
}
ul{
	li{
		list-style-type: none;
	}
	margin:0;
	padding:0	
} 
h1,h2,h3,h4,h5,p{
	margin:0;
	padding:0;
}

/* styling */

.heading{
		font-family:$font-roboto;
		color:$bold;
		font-size: $heading;
		font-weight: bold;
		margin-bottom: 15px;
	}
.text{
	font-family: $font-roboto;
	font-size: $paragraph;
	color:$gray;
	font-weight:normal;
	line-height: 1.4em;
}
.center{
	text-align: center;
}
.footer-text{
	font-size: 10px;
	margin-top:30px;
}